<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">

<div class="footer">
  <p>&copy; 2020 | Made with <span>❤️</span> by Soumya Dey</p>
</div>
</div>