<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

<body>

    <%- include('partials/header') %>

    <div class="container">
        <h1>Compose</h1>

        <form action="/compose" method="post">
            <div class="form-group">
                <label for="postTitle">Post Title</label>
                <input type="text" name="postTitle" class="form-control" id="postTitle" placeholder="Add post title..."
                    autocomplete="off" required>

                <label for="postContent">Post Content</label>
                <textarea class="form-control" name="postContent" id="postContent" placeholder="Add post content..."
                    rows="5" autocomplete="off" required></textarea>
            </div>

            <button type="submit" class="btn btn-warning publish-btn" name="publishBtn">Publish</button>
        </form>
    </div>

    <%- include('partials/footer') %>

</body>

</html>