<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

<body>

    <%- include('partials/header') %>

    <div class="container">
        <h1>Compose</h1>
        <form action="/" method="post">
            <input type="text" name="blogText" id="" placeholder="Add new blog post...">
            <button type="submit" name="publishBtn">Publish</button>
        </form>
    </div>

    <%- include('partials/footer') %>

</body>

</html>